html {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

main {
    width: 60%;
    margin: 10% auto;
}

.innerbox>p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.box h1 {
    color: hsl(0, 0%, 95%);
}

.innerbox {
    padding: 20%;
}

.learn {
    display: inline-block;
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 20px;
    padding: 0 10%;
}

.learn:active {
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
}

.learnlu {
    color: hsl(179, 100%, 13%);
}

.learnlu:active {
    background-color: hsl(179, 100%, 13%);
}

.learnsu {
    color: hsl(184, 100%, 22%);
}

.learnsu:active {
    background-color: hsl(184, 100%, 22%);
}

.learnse {
    color: hsl(31, 77%, 52%);
}

.learnse:active {
    background-color: hsl(31, 77%, 52%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}



@media only screen and (min-width:200px) {
    .box {
        width: 100%;
    }

    .luxury{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .sedans{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
}

@media only screen and (min-width:600px) {
    main {
        display: flex;
    }

    .box {
        display: inline-block;
        width: 33.33%;
    }

    .luxury{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .sedans{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
    
}